<div style="height: 150px; width: 100%; background-color: #02b3e4; display: flex; color: white">
    <div style="display: flex; flex-direction: column;justify-content: center; align-items: center; width: 100%">
      <h1>My Store</h1>
      <div style="display: flex">
        <h2 style="padding-right: 10px; border-right: 1px solid #fff; cursor: pointer" routerLink="/">Product List</h2>
        <h2 style="padding-left: 10px; cursor: pointer" routerLink="/cart">Card
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </h2>
      </div>
    </div>
  </div>
  
  <div>
    <product-item [dataProduct]="dataProduct" [options]="options" (selectedAmount)="selectedAmount = $event" (selectProduct)="addProduct($event)"></product-item>
  </div>
  