<div style="height: 150px; width: 100%; background-color: #02b3e4; display: flex; color: white">
    <div style="display: flex; flex-direction: column;justify-content: center; align-items: center; width: 100%">
      <h1>My Store</h1>
      <div style="display: flex">
        <h2 style="padding-right: 10px; border-right: 1px solid #fff; cursor: pointer" routerLink="/">Product List</h2>
        <h2 style="padding-left: 10px; cursor: pointer" routerLink="/cart">Card
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </h2>
      </div>
    </div>
  </div>
  
  <div style="display: flex; flex-wrap: wrap; margin-top: 20px; justify-content: center">
    <div style="display: flex; justify-content: center; align-items: center">
      <div style="width: 300px; height: 500px; border: 1px solid black; margin: 20px; padding: 20px">
        <img [src]="product?.url" style="width: 100%; height: 100%">
      </div>
      <div style="display: block; margin-left: 50px">
        <div style="display: flex; flex-direction: column">
          <span>{{product?.name}}</span>
          <span style="margin-top: 10px; font-weight: 700">{{product?.description}}</span>
          <span style="margin-top: 10px; font-weight: 700">${{product?.price}}</span>
          <select class="form-select" style="width: 100px; margin-top: 10px" (change)="changeAmount($event.target)">
            <option *ngFor="let option of options" [value]="option.value" >{{option.label}}</option>
          </select>
          <button style="margin-top: 10px" type="button" class="btn btn-primary" (click)="addProduct(product!)">Add To Cart</button>
          <div style="color: blue; cursor: pointer; margin-top: 20px" routerLink="/">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span style="margin-left: 10px">Back to product list</span>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  